body{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    width: 1333px;
    margin: 0 auto;
    /* padding: 0 5rem; */
    border: 1px solid;
}
header{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 11px;
    text-decoration: none;
    color: rgba(23, 58, 86, 1);
    font-size: 30px;
    font-weight: 900;  
}
nav{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-itm1{
    text-decoration: none;
    color: rgba(34, 52, 61, 1);
    font-weight: 700;
    font-size: 20px;
}
.nav-itm2{
    text-decoration: none;
    color: rgba(34, 52, 61, 1);
    font-size: 20px;
}
.nav-btn1{
    border: 2px solid rgba(188, 208, 229, 1);
    border-radius: 5px;
    text-decoration: none;
    color: rgba(23, 58, 86, 1);
    font-weight: 700;
    padding: 11px 25px;
}
.nav-btn2{
    background-color: rgba(2, 137, 122, 1);
    border-radius: 5px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    padding: 11px 27px;
}
.hero{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
}
.hero-card{
    width: 40%;
    /* border: 1px solid; */
    padding-top: 8rem;
}
h1{
    font-size: 55px;
    font-weight: 900;
    color: rgba(34, 52, 61, 1);
}
.hero-text{
    color: rgba(34, 52, 61, 1);
    font-size: 20px;
}
.hero-btn1{
    background-color: rgba(2, 137, 122, 1);
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 50px;  
}
.hero-btn2{
    font-size: 20px;
    color: rgba(2, 137, 122, 1);
    margin-left: 22px ;
}
.products{
    /* border: 1px solid; */
    text-align: center;
    background-image: url("./images/Bg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 5rem 0;
}
.products-title{
    color: rgba(34, 52, 61, 1);
    font-size: 40px;
    font-weight: 900;
}
.products-ul{
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    margin: auto;
    padding: 0;
}
.products-itm{
    width:25%;
    list-style: none;
    text-align: start;
    line-height: 22px;
    /* border: 1px solid; */
}
h4{
    color: rgba(34, 52, 61, 1);
    font-size: 25px;
    font-weight: 900;
}
.itms-text{
    font-size: 18px;
    color: rgb(43, 59, 67);
}
.btn-product{
    background-color: rgba(2, 137, 122, 1);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    padding: 20px 44px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.manage-card{
    display: flex;
    justify-content: space-around;
    margin: 5rem 0;
    line-height: 20px;
}
.manage-card2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 5rem 0;
}
.manage-box{
    width: 35%;
}
.box-itm{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    line-height: 25px;
}
.manage-title{
    font-size: 33px;
    font-weight: 900;
    color: rgba(34, 52, 61, 1);
}
h6{
    font-size: 18px;
    font-weight: 500;
}
.box-text{
    font-size: 18px;
}
.process{
    text-align: center;
    background-image: url("./images/Bg2.png");
    background-position: top;
    background-repeat: no-repeat;
    padding: 2rem 0;
    margin: 5rem 0;
}
.pro-title{
    color: rgba(34, 52, 61, 1);
   font-size: 33px;
   font-weight: 900; 
}
.pro-text{
    color: rgba(34, 52, 61, 1);
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    margin: auto;
}
.pro-card{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.pro-box{
    display: flex;
    align-items: center;
    gap: 22px;
}
.pro-box2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.pro-text1{
   font-size: 18px; 
   font-weight: 500;
   background: #FFFFFF;
   box-shadow: 0px 2px 8px rgba(86, 117, 146, 0.1);
}
.strategies{
   margin: 8rem 0;
}
.strateg-title{
    font-size: 33px;
    font-weight: 900;
    color: rgba(34, 52, 61, 1);
    margin-left: 5rem;
}
.strateg-text{
    color: rgba(34, 52, 61, 1);
    font-size: 18px;
    font-weight: 600;
    margin-left: 5rem;
}
.str-container{
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.strateg-card{
    width: 26%;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    line-height: 25px;
    
}
.sp1{
    color: rgba(34, 52, 61, 1);
    font-weight: 900;
}
.strateg-h3{
    color: rgba(34, 52, 61, 1);
    font-size: 25px;
    font-weight: 900;
}
.strateg-card:hover .strateg-h3{
    color: rgba(2, 137, 122, 1);
}
.solt{
    margin-left: 40rem;
    margin-top: 3rem;
}
.tables{
    text-align: center;
}
.tables-title{
    font-size: 33px;
    font-weight: 900;
    color: rgba(34, 52, 61, 1);
}
.tables-text{
    font-size: 18px;
    font-weight: 600;
    color: rgba(34, 52, 61, 1);
}
.tabl-container{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
}
.tabl-card{
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 25%;
}
.tabl-title-main{
    font-size: 25px;
    font-weight: 900;
}
.tabl-title{
    color: rgba(2, 137, 122, 1);
    font-size: 70px;
    font-weight: 900;
}
.sp2{
    font-size: 22px;
}
.sp3{
    color: grey;
    font-size: 18px;
}
.tabl-li{
    list-style: none;
    line-height: 45px;
    color: rgba(34, 52, 61, 1);
    font-size: 18px;
    font-weight: 600;
}
.btn-tabl{
    background-color: rgba(2, 137, 122, 1);
    color: whitesmoke;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    padding: 11px 22px;
    margin: 2rem;
}
.tabl-card:hover{
    background-color: rgba(2, 137, 122, 1);
    color: whitesmoke;
}
.tabl-card:hover .tabl-title{
    color: whitesmoke;
}
.tabl-card:hover .tabl-title .sp3{
    color: whitesmoke;
}
.tabl-card:hover .tabl-li{
    color: whitesmoke;
}
.tabl-card:hover .btn-tabl{
    background-color: whitesmoke;
    color: rgba(2, 137, 122, 1);
}
.clients{
    text-align: center;
    margin: 8rem 0;
}
.client-title{
    font-size: 33px;
    font-weight: 900;
    color: rgba(34, 52, 61, 1);
}
.client-text{
    font-size: 18px;
    font-weight: 600;
    color: rgba(34, 52, 61, 1);
    width: 50%;
    margin: auto;
}
.clcard-text{
    color: gray;
    font-size: 15px;
}
.client-box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.client-card{
    width: 20%;
    text-align: start;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    padding: 22px;
}
.frame{
    margin-left: 11rem;
}
